.nordpool-prices {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .nordpool-prices th, .nordpool-prices td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .nordpool-prices th {
    background-color: #4CAF50;
    color: white;
  }
  
  .nordpool-prices td {
    text-align: center;
  }
  
  .nordpool-wrapper {
    width: 800px; /* Sett bredde på innpakningen */
    height: 400px; /* Sett høyde på innpakningen */
  }
  
  #nordpoolChart {
    width: 100% !important; /* Tilpass grafens bredde til wrapper */
    height: 100% !important; /* Tilpass grafens høyde til wrapper */
  }
  
  
  